<!-- This file is given to the client in the main route -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in | my Store</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Favicons -->
	<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
	<link rel="icon" href="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/img/favicons/favicon.ico">
	<meta name="theme-color" content="#7952b3">


    <style>
    	.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
			font-size: 3.5rem;
			}
		}
    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">

</head>
<body>
	<main class="form-signin">
		<form>
			<img class="mb-4" src="https://getbootstrap.com/docs/5.0/examples/sign-in/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
			<h1 class="h3 mb-3 fw-normal">Hello! Let's register you</h1>

			<div class="form-floating">
				<input type="email" class="form-control" id="txtName" placeholder="John">
				<label for="txtName">Name</label>
			</div>
			<div class="form-floating">
				<input type="email" class="form-control" id="txtUsername" placeholder="name@example.com">
				<label for="txtUsername">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="txtPassword" placeholder="Password">
				<label for="txtPassword">Password</label>
			</div>
            <label for="avatarImage">Upload avatar image</label>
            <input type="file" id="avatarImage" name="avatarImage" value="" required>

             <div class="mb-3">
                <label for="txtCargo" class="form-label">Cargo</label>
                <select class="form-control" id="txtCargo">
                    <option class="form-control" value="comprador">Comprador</option>
                    <option class="form-control" value="admin">Admin</option>
                </select>
            </div>

			<input type="submit" name="submit" id="submit" class="w-100 btn btn-lg btn-primary" value="Login">
		</form>
	</main>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const txtName = document.getElementById('txtName');
        const txtUsername = document.getElementById('txtUsername');
        const txtPassword = document.getElementById('txtPassword');
        const txtCargo = document.getElementById('txtCargo');
        
        const btnSubmit = document.getElementById('submit');
        btnSubmit.addEventListener("click", (e) => {
            e.preventDefault();
            
            let name = txtName.value.trim();
            let username = txtUsername.value.trim();
            let password = txtPassword.value.trim();
            let cargo = txtCargo.value;

            // Comment to check out how server validation is working too
            if (name === '') {
                alert('Specify a name');
                return;
            }
            if (username ==='') {
                alert('Input valid username');
                return;
            }
            if (password ==='') {
                alert('Input valid password');
                return;
            }

            const formData = new FormData();
            formData.append('name', name);
            formData.append('username', username);
            formData.append('password', password);
            formData.append('cargo', cargo);
            const files = avatarImage.files;
            formData.append('avatar', files[0])
            

            axios.post('http://127.0.0.1:3000/user/create', formData)
            .then(response => {
                console.log(response);
                alert(`User registered successfully`);
                window.location.replace('http://127.0.0.1:3000/user/all');
            })
            .catch(error => {
                console.log(error.response.data)
                alert(`Problem while sign-up ${error.response.data}`);
            });
        });
    </script>
</body>
</html>

