<!-- This file is given to the client in the main route -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show user | my Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:3000/products/all">my Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/catalogo#">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/my-profile">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/carrito#">Carrito</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded">
            <div class="row">
                <h1>Show User</h1>
            </div>
        </div>

        <div class="row">
            <form>
                <div class="mb-3">
                    <label for="txtName" class="form-label">Name:</label>
                    <input type="text" id="txtName" class="form-control" readonly="">
                </div>

                <div class="mb-3">
                    <label for="txtAvatar" class="form-label">Avatar:</label>
                    <input type="text" id="txtAvatar" class="form-control" readonly="">
                </div>

                <div class="mb-3">
                    <label for="txtBrand" class="form-label">Email:</label>
                    <input type="text" id="txtEmail" class="form-control" readonly="">
                </div>
                
                </div>
            </form>
        </div>
    </main>
        
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const userId = '<%= userId %>';
        const txtName = document.getElementById('txtName');
        const txtAvatar = document.getElementById('txtAvatar');
        const txtEmail = document.getElementById('txtEmail');

        loadProductData();

        function loadProductData(){
            axios.get(`http://127.0.0.1:3000/carg/${userId}`)
            .then(response => {
                console.log(response);
                txtName.value = response.data.name;
                txtAvatar.value = response.data.avatar;
                txtEmail.value = response.data.email;
            })
            .catch(error => {
                console.log(error.response.data);
                btnSubmit.disabled = true;
                alert(`Problem when loading data for user ${error.response.data}`);
            });
        }
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>