<!-- This file is given to the client in the main route -->
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Products | my Store</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="http://127.0.0.1:3000/products/all">my Store</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/catalogo#">Tienda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/my-profile">Mi Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/carrito#">Carrito</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container">
		<div class="bg-light p-5 rounded">
			<div class="row">
				<h1>My products</h1>
				<p class="lead">Welcome to <strong>my Shopping Cart</strong>, the place where you can find everything at the pest price.</p>
				<div class="row">
					<div class="col-md-3">
						<a class="btn btn-lg btn-primary" href="http://127.0.0.1:3000/products/all#" role="button">See your products</a>
					</div>
					<div class="col-md-3">
						<a class="btn btn-lg btn-link" id="btnAdd" href="http://127.0.0.1:3000/products/create" role="button">Add new product</a>
					</div>
				</div>
			</div>
		</div>

		<div class="p-2" style="padding-top: 30pt">
			<table class="table table-striped table-hover" id="moviesTable">
				<tr id="rowHeader">
					<th>Name</th>
					<th>Price</th>
					<th>Brand</th>
					<th>Show</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</table>
		</div>
	</main>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const btnAdd = document.getElementById('btnAdd');
        const table = document.getElementById('moviesTable');
        let signal = document.createElement('p');
        axios.get('http://127.0.0.1:3000/products')
        .then(response => {
            console.log(response);
            populateTable(response.data);
        })
        .catch(error => {
            console.log(error.response);
            alert(`Problem when retrieving movies info ${error.response}`);
        });

        function populateTable(movies){
            movies.forEach(m => { 
                let row = table.insertRow(); 
                let cellName = row.insertCell();
                let cellPrice = row.insertCell();
                let cellBrand = row.insertCell();
                let cellShow = row.insertCell();
                let cellEdit = row.insertCell();
                let cellDelete = row.insertCell();

                cellName.innerText = m.name;
                cellPrice.innerText = m.price;
                cellBrand.innerText = m.brand;

                btnShow = document.createElement('button');
                btnShow.className = "btn btn-info";
                btnShow.appendChild(document.createTextNode('Show'));
                btnShow.addEventListener('click', () => { window.location.replace(`http://127.0.0.1:3000/products/${m._id}`) });
                cellShow.appendChild(btnShow);


                btnEdit = document.createElement('button');
                btnEdit.className = "btn btn-primary";
                btnEdit.appendChild(document.createTextNode('Edit'));
                btnEdit.addEventListener('click', () => { window.location.replace(`http://127.0.0.1:3000/products/${m._id}/edit`) });
                cellEdit.appendChild(btnEdit);

                btnDelete = document.createElement('button');
                btnDelete.className = "btn btn-danger";
                btnDelete.appendChild(document.createTextNode('Delete'));
                btnDelete.addEventListener('click', (event) => {
                    let productId = m._id;
                    axios.delete(`http://127.0.0.1:3000/products/${productId}`)
                    .then(response => {
                        console.log(response);
                        alert('Product deleted successfully');
                        row.parentNode.removeChild(row);
                    })
                    .catch(error => {
                        console.log(error.response);
                        alert(`Problem when deleting the product info ${error.response}`);
                    });
                });
                cellDelete.appendChild(btnDelete);
            });
        }
        
        
        btnAdd.addEventListener('click', () => {
            window.location.replace(`http://127.0.0.1:3000/products/create`);
        });
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>

